<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div id="root">1</div>
    <input id="input"/>
    <div id="render"></div>
</body>
<script>
    window.state = {
        value: 'empty'
    }



    function getDrawDom (func) {
        return function (value) {
            func(value)
        }
    }

    let f1 = getDrawDom(function (value) {
        let root = document.querySelector('#root')
        root.firstChild.nodeValue = value
    })

    f1(window.state.value)
    document.querySelector('#input').addEventListener('change', function (e) {
        window.state.value = e.target.value
        f1(window.state.value)
        renderInputValue()
    })

    function render(vnode, root) {
        root.innerHTML = ''
        let {type, props} = vnode
        let children = vnode.children || props.children
        let dom = document.createElement(type)
        if (props && Object.keys(props) && Object.keys(props).length) {
            Object.keys(props).map(key => {
                if (key !== 'children') {
                    dom.setAttribute(key, props[key])
                }
            })
        }
        root.appendChild(dom)
        if (children && children.type) {
            render(children, dom)
        } else if (children){
            root.textContent = children
        } else {

        }
        return root
    }

    function renderInputValue() {
        return render({
            type: 'div',
            props: {
                style: 'color: red',
                children: {
                    type: 'div',
                    children: window.state.value
                }
            }
        }, document.querySelector('#render'))
    }


    // render(vnode) => dom
    // 维护vnode
    // 每次变更后执行render方法。重新绘制整个页面。
</script>
</html>