<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    /*
    mvvm
    m-v 靠的是 render函数将state（m）转成 vnode（v，在template的帮助下）
    v-m 开的是 setState 修改m。然后出发reRender
     */

    this.state = {
        value: 'some thing i will understand'
    }
    /*

     */

    function render(vnode, root) {
        root.innerHTML = ''
        let {type, props} = vnode
        let children = vnode.children || props.children
        let dom = document.createElement(type)
        if (props && Object.keys(props) && Object.keys(props).length) {
            Object.keys(props).map(key => {
                if (key !== 'children') {
                    dom.setAttribute(key, props[key])
                }
            })
        }
        root.appendChild(dom)
        if (children) {
            // 根据children类型渲染
            if (typeof children === string) {
                root.textContent = children
            } else if (array) {
                children.map(child => {
                    render(child, dom)
                })
            } else if () {
                render(children, dom)
            }

        }
        return root
    }

    /*

     */
    function setState(nextState) {
        let newState = Object.assign({}, this.state, nextState)
        this.render()
    }

    /*
    pure view.get state to render with state
     */
    function vnodeInputOutDiv({children = ''}) {
        return ({
            type: 'div',
            class: 'my-input-div',
            children: [
                this.state.value,
                children
            ]
        })
    }

    function inputHandler(event) {
        this.setState({
            value: event.target.value
        })
    }


    function vnodeInput() {
        return ({
            type: 'input',
            props: {
                class: 'my-input',
                onChange: this.inputHandler.call(this, event)
            }

        })
    }

    function vnodeMix() {
        return renderInputOutDiv(
            renderInput()
        )
    }

    /*
    类的render方法，入口。
     */
    function render() {
        return vnodeMix()
    }

    return render()
</script>
<script>
    this.setState({
        value: 'new value '
    })
</script>
<body>

</body>
</html>